

/* ========== User options ========== */
.users {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:32vh;
}

.users p {
    font-family: 'Electrolize', Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #FAEFC0;
    margin-top: 5px !important;
}

.users .columns {
    flex-direction: column;
    margin: 50px;
}

.users .button_adduser {
    /* width: 57%; */
    width: 120px;
    height: 120px;
    background-color: transparent;
    background-image: url('../img/adicionar.png');
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent
}

.users .button_adduser:focus {
    background: url('../img/adicionar.png') no-repeat;
    width: 120px;
    height: 120px;
    background-size: 100%;
    opacity: 0.5;
}

.users .button_edituser {
    /* width: 57%; */
    width: 120px;
    height: 120px;
    background-color: transparent;
    background-image: url('../img/alterar.png');
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent
}

.users .button_edituser:focus {
    background: url('../img/alterar.png') no-repeat;
    width: 120px;
    height: 120px;
    background-size: 100%;
    opacity: 0.5;
}

/* ========== Create user ========== */
.create-user {
    flex-direction: row;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.create-user .row {
    width: 100%;
    height: 65px;
}

.create-user .first-column {
    height: 100%;
    margin-right: 435px;
}

.create-user .first-column .row {
    margin-bottom: 15px;
    flex-direction: column;
}

.create-user .first-column .row p {
    font-family: 'Coda', Arial, Helvetica, sans-serif;
    color: #FAEFC0;
    margin: auto 10px;
    font-size: 25px;
    margin-left: 0;
    width: 220px;
    text-align: right;
}

.create-user .first-column .search-input {
    height: 100%;
    border: none;
    padding: 0 25px;
}

.create-user .first-column .search-input.big {
    background: url('../img/admin-users-create-1.svg') no-repeat;
    width: 649px;
}

.create-user .first-column .search-input.small {
    background: url('../img/admin-users-create-2.svg') no-repeat;
    width: 281px;
}

.create-user .first-column .search-input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline-color: transparent !important;
    color: #FAEFC0;
    font-size: 25px;
}

.create-user .first-column .search-input input:focus {
    outline:0;
}

.create-user .first-column .acesso-gaveta {
  background: url('../img/admin-menu-1.svg') no-repeat;
  width: 66px;
  height: 66px;
  margin-right: 13.67px;
  border: none;
}

.create-user .first-column .acesso-gaveta p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  font-size: 20px;
  margin-left: -13px;
  width: 66px;
  text-align: center;
}

.create-user .first-column .acesso-gaveta .inside {
  width: 80px;
  height: 100%;
  background: transparent;
  border: none;
  outline-color: transparent !important;
  color: black;
  font-size: 20px;
}

.create-user .first-column .acesso-gaveta .check {
  background: url('../img/gv v.svg');
  width: 100%;
  height: 60px;
  border: none;
  display: flex;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 2px;
  background-size: auto 40%;
}

.create-user .first-column .acesso-gaveta .not-check {
  background: url('../img/gv x.svg');
  width: 100%;
  height: 60px;
  border: none;
  display: flex;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 2px;
  background-size: auto 40%;
}

.create-user .first-column .btns {
    background: url('../img/button-opacity-default-281.svg') no-repeat;
    width: 281px;
    height: 65px;
    justify-content: space-between;
    border: none;
    display: flex;
}

.create-user .first-column .btns:focus {
    background: url('../img/button-opacity-default-281.svg') no-repeat;
    width: 281px;
    height: 65px;
    opacity: 0.5;
}

.create-user .first-column .btns p {
    font-family: 'Coda', Arial, Helvetica, sans-serif;
    color: #FAEFC0;
    margin: auto 10px;
    font-size: 25px;
    margin-left: 0;
    width: 250px;
    text-align: center;
}

.create-user .second-column {
    height: 100%;
    margin-left: 270px;
}

.create-user .second-column .btns {
    background: url('../img/button-opacity-default-281.svg') no-repeat;
    width: 281px;
    height: 65px;
    flex: 1;
    justify-content: space-between;
    border: none;
    display: flex;
}

.create-user .second-column .btns:focus {
    background: url('../img/button-opacity-default-281.svg') no-repeat;
    width: 281px;
    height: 65px;
    opacity: 0.5;
}

.create-user .second-column .btns p {
    font-family: 'Coda', Arial, Helvetica, sans-serif;
    color: #FAEFC0;
    margin: auto 10px;
    font-size: 25px;
    margin-left: 0;
    width: 250px;
    text-align: center;
}

.frame-user {
    background: url('../img/foto marcação.png') no-repeat;
    width: 280px;
    height: 304px;
    margin-bottom: 15px;
}

/* ========== Janela leitor RFID ========== */

.janela-rfid {
  height:400px;
  width:600px;
  background-color: #FEFCF2;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.janela-rfid .contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.janela-rfid .contents p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: black;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 28px;
  text-align: center;
}

.janela-rfid .contents .logoRfid {
  width: 315px;
  height: 192px;
  background-image: url('../img/msg_rfid.svg');
}

.janela-rfid .contents .btns {
  background: url('../img/button msg 224x64.svg') no-repeat;
  width: 224px;
  height: 64px;
  margin-left: 20px;
  text-align: center;
  justify-content: center;
  border: none;
}

.janela-rfid .contents .btns:active {
  background: url('../img/button msg 224x64.svg') no-repeat;
  width: 224px;
  height: 64px;
  opacity: 0.5;
}

.janela-rfid .contents .btns p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  margin: auto 10px;
  font-size: 25px;
  text-align: center;
}

/* ========== Atualizacao do dispositivo ========== */
.frame-update {
  flex-direction: row;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.frame-update .update{
  height: 530px;
  width: 586px;
  background-image: url('../img/fundo lista 584x528.png');
  border: none;
  align-items: left;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.frame-update .update .info{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
}

.frame-update .update .info p{
  height: 12px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.frame-update .loading{
  animation: is-rotating 1.5s linear infinite;
  border: 8px solid #FAEFC0;
  border-radius: 50%;
  border-top-color: #F37021;
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 17px;
  margin-left: 220px;
  height: 53px;
  width: 53px;
}

/* ========== Janela para confirmar exclusao ========== */
.janela-confirmaExclusao {
  height:280px;
  width:700px;
  background-color: #FEFCF2;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.janela-confirmaExclusao .contents {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.janela-confirmaExclusao .contents p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: black;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 28px;
  text-align: center;
}

.janela-confirmaExclusao .contents .exclusao {
  width: 96px;
  height: 96px;
  background-image: url('../img/Excluir.svg');
}

.janela-confirmaExclusao .contents .btns {
  background: url('../img/button msg 224x64.svg') no-repeat;
  width: 224px;
  height: 64px;
  margin-left: 20px;
  text-align: center;
  justify-content: center;
  border: none;
}

.janela-confirmaExclusao .contents .btns:active {
  background: url('../img/button msg 224x64.svg') no-repeat;
  width: 224px;
  height: 64px;
  opacity: 0.5;
}

.janela-confirmaExclusao .contents .btns p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  margin: auto 10px;
  font-size: 25px;
  text-align: center;
}

/* ========== Acesso remoto ========== */

.acesso-remoto {
  flex-direction: row;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.acesso-remoto .line {
  flex-direction: column;
  justify-content: center;
  display:flex;
  align-items: center;
}

.acesso-remoto .url {
  flex-direction: column;
  justify-content: center;
  display:flex;
  align-items: center;
}

.acesso-remoto .url p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  font-size: 25px;
  text-align: center;
}

.acesso-remoto .btns {
  background: url('../img/button-opacity-default-216.svg') no-repeat;
  width: 216px;
  height: 64px;
  justify-content: space-between;
  border: none;
  display: flex;
}

.acesso-remoto .btns:focus {
  background: url('../img/button-opacity-default-216.svg') no-repeat;
  width: 216px;
  height: 64px;
  opacity: 0.5;
}

.acesso-remoto .btns p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  margin: auto;
  font-size: 25px;
  width: 250px;
  text-align: center;
}

.acesso-remoto .first-column {
  height: 100%;
  margin-right: 0px;
}

.acesso-remoto .first-column p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  font-size: 25px;
  width: 220px;
  text-align: center;
}

.acesso-remoto .first-column .conexao-http {
  width: 180px;
  height: 180px;
  background-color: transparent;
  display:flex;
  background-image: url('../img/HTTP 136x136 2.svg');
  justify-content: center;
  align-items: center;
  background-size: 180px;
}

.acesso-remoto .second-column {
  height: 100%;
  margin-left: 0px;
}

.acesso-remoto .second-column p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  font-size: 25px;
  width: 220px;
  text-align: center;
}

.acesso-remoto .second-column .conexao-ssh {
  width: 180px;
  height: 180px;
  background-color: transparent;
  display:flex;
  background-image: url('../img/SSH 136x136.svg');
  justify-content: center;
  align-items: center;
  background-size: 180px;
}

.acesso-remoto .c_loader {
  animation: is-rotating 1.5s linear infinite;
  border: 6px solid #FAEFC0;
  border-radius: 50%;
  border-top-color: #F37021;
  background-color: transparent;
  margin-top: 12px;
  margin-left: 88px;
  height: 40px;
  width: 40px;
}

.acesso-remoto .c_loader p{
  visibility: hidden;/*visible ou hidden*/
  align-self: center;
}

/* ========== Data e hora ========== */

.data-hora {
  flex-direction: row;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.data-hora .first-column {
  height: 100%;
  margin-right: 0px;
}

.data-hora .first-column p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: black;
  margin-top: 5px;
  font-size: 25px;
  width: 40px;
  text-align: center;
}

.data-hora .line {
  flex-direction: line;
  justify-content: center;
  display:flex;
  align-items: center;
}

.data-hora .line .column {
  flex-direction: column;
  height: 100%;
  margin-right: 0px;
}

.data-hora .line .btns-alterar-up {
  background: transparent;
  width: 60px;
  height: 60px;
  margin-top: -15px;
  margin-left: -8px;
  background-image: url('../img/Seta 1.svg');
  justify-content: space-between;
  border: none;
  display: flex;
}

.data-hora .line .btns-alterar-up:active {
  background: transparent;
  width: 60px;
  height: 60px;
  background-image: url('../img/Seta 1.svg');
  justify-content: space-between;
  opacity: 0.5;
}

.data-hora .line .btns-alterar-down {
  background: transparent;
  width: 60px;
  height: 60px;
  margin-top: -15px;
  margin-left: -8px;
  background-image: url('../img/Seta 2.svg');
  justify-content: space-between;
  border: none;
  display: flex;
}

.data-hora .line .btns-alterar-down:active {
  background: transparent;
  width: 60px;
  height: 60px;
  background-image: url('../img/Seta 2.svg');
  justify-content: space-between;
  opacity: 0.5;
}

.data-hora .btns {
  background: url('../img/button msg 224x64.svg') no-repeat;
  width: 224px;
  height: 64px;
  border: none;
  display: flex;
}

.data-hora .btns:active {
  background: url('../img/button msg 224x64.svg') no-repeat;
  width: 224px;
  height: 64px;
  opacity: 0.5;
}

.data-hora .btns p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  margin: auto 10px;
  font-size: 25px;
  width: 250px;
  text-align: center;
}

/* ========== Telas para testes ========== */
.testes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:75vh;
}

.testes p {
  font-family: 'Electrolize', Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #FAEFC0;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.testes .columns {
  flex-direction: column;
  margin: 30px;
}

.bg-testes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
}

.bg-testes .row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg-testes .row p {
  height: 25px;
  font-family: 'Electrolize', Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #FAEFC0;
}

.bg-testes .column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-testes .column p {
  height: 25px;
  font-family: 'Electrolize', Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #FAEFC0;
  justify-content: center;
  align-items: center;
}

.bg-testes .rectangle-input{
  height: 65px;
  width: 170px;
  background-color: #FEFCF2;
  border: solid 1px #FAEFC0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-testes .rectangle-input input {
  height:65px;
  width:170px;
  background: transparent;
  border: none;
  outline-color: transparent !important;
  color:black;
  font-size: 25px;
  text-align: center;
}

.bg-testes .rectangle-input input:focus {
  outline:0;
}

.bg-testes .select-gaveta {
  height:65px;
  width:170px;
  background-color: #FEFCF2;
  border: solid 1px #FAEFC0;
  color:black;
  font-size: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bg-testes .select-gaveta:disabled {
  color:gray;
  opacity: 1;
}

.bg-testes .use-numpad-input:disabled {
  color:gray;
  opacity: 1;
}

.bg-testes .select-gaveta:focus {
  outline:0;
}

.bg-testes .select-gaveta::-webkit-scrollbar {
  width: 250px;
  background-color: red;
}

.bg-testes .rectangle-show{
  height: 108px;
  width: 300px;
  background-color: transparent;
  border: solid 1px #FAEFC0;
}

.bg-testes .rectangle-show p {
  height: 108px;
  width: 300px;
  display: flex;
  font-family: 'Electrolize', Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #FAEFC0;
  justify-content: center;
  align-items: center;
}

.bg-testes .button-108{
  height: 108px;
  width: 108px;
  background-color: transparent;
  background: url('../img/button-opacity-default-108.svg') no-repeat;
  background-size: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent
}
  
.bg-testes .button-108:focus {
  background: url('../img/button-opacity-default-108.svg') no-repeat;
  width: 108px;
  height: 108px;
  background-size: 100%;
  opacity: 0.5;
}

.bg-testes .button-108 .pause {
  background: url('../img/cabinet-tests-play-5.svg') no-repeat;
  width: 108px;
  height: 108px;
  border: none;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 40%;
}

.bg-testes .button-108 .play {
  background: url('../img/cabinet-tests-play-4.svg') no-repeat;
  width: 108px;
  height: 108px;
  border: none;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 40%;
}

.bg-testes .button-108 .stop {
  background: url('../img/cabinet-tests-play-3.svg') no-repeat;
  width: 108px;
  height: 108px;
  border: none;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 40%;
}

.bg-testes .button-108 .registro {
  background: url('../img/cabinet-tests-play-2.svg') no-repeat;
  width: 108px;
  height: 108px;
  border: none;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 70%;
  margin-left: -6px;
  margin-top: -4px;
}

.bg-testes .button-108 .download {
  background: url('../img/cabinet-tests-play-1.svg') no-repeat;
  width: 108px;
  height: 108px;
  border: none;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 70%;
}

.bg-testes .line{
  height: 108px;
  width: 1px;
  background-color: #FAEFC0;
  border: none;
}

/* ========== Tela Histórico Testes ========== */
.historico-testes {
  flex-direction: row;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.historico-testes .lista-eventos {
  height:100%;
  width:642px;
  background-color: #FEFCF2;
  border: none;
  align-items: left;
  flex-direction: row;
  margin-top: 20px;
}

.historico-testes .lista-eventos .scroll {
  height:466px;
  width:660px;
  overflow:auto;
  margin-left: 0px;
  background: transparent;
  border-top: 1px solid #FAEFC0;
  border: transparent;
  align-items: center;
  flex-direction: column;
  margin: auto;
  overflow-x: hidden; /*Desabilita scrollbar horizontal*/
  overflow-y: scroll;
}

.historico-testes .lista-eventos .scroll::-webkit-scrollbar {
width: 20px;
}
.historico-testes .lista-eventos .scroll::-webkit-scrollbar-track {
background: transparent;
border: 1px solid #FAEFC0;
}
.historico-testes .lista-eventos .scroll::-webkit-scrollbar-thumb {
background-color: #FAEFC0;
border-radius: 0px;
border: 3px solid transparent;
}

/* ========== Wifi ========== */

.wifi_100 {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url('../img/Wifi 100 136x136.svg');
  background-repeat: no-repeat;
  background-size: auto 35px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
}

.wifi_75 {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url('../img/Wifi 75 136x136.svg');
  background-repeat: no-repeat;
  background-size: auto 35px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
}

.wifi_50 {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url('../img/Wifi 50 136x136.svg');
  background-repeat: no-repeat;
  background-size: auto 35px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
}

.wifi_25 {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url('../img/Wifi 25 136x136.svg');
  background-repeat: no-repeat;
  background-size: auto 35px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
}

.wifi_cadeado_100 {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url('../img/Wifi cadeado 100 136x136.svg');
  background-repeat: no-repeat;
  background-size: auto 35px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
}

.wifi_cadeado_75 {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url('../img/Wifi cadeado 75 136x136.svg');
  background-repeat: no-repeat;
  background-size: auto 35px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
}

.wifi_cadeado_50 {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url('../img/Wifi cadeado 50 136x136.svg');
  background-repeat: no-repeat;
  background-size: auto 35px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
}

.wifi_cadeado_25 {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url('../img/Wifi cadeado 25 136x136.svg');
  background-repeat: no-repeat;
  background-size: auto 35px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
}

/* ========== Tabelas ========== */
#Tabela1{
  width:100%;
  margin:0 auto;
  border-spacing: 0;
}

#Tabela1 thead th{
  font-weight: bold;
  background-color: black;
  color:white;
  padding:2px 5px;
}

#Tabela1 tr td{
  padding:2px 5px;
  border: 1px solid #FAEFC0;
  cursor: pointer; /**importante para não mostrar cursor de texto**/
  font-size: 20px;
  border-bottom: none;
  border-top: none;
  text-align: left;
}

#Tabela1 tr:nth-child(even){
  background-color: white;
}

#Tabela1 tr:nth-child(odd){
  background-color: #F3EBE1;
}

#Tabela1 tr:first-child{
  border-top: 1px solid #FAEFC0;
}

#Tabela1 tr:last-child{
  border-bottom: 1px solid #FAEFC0;
}

#Tabela1 tr.selecionado td{
  background-color: #F37021;
  color:white;
}


#Tabela2{
  width:100%;
  margin:0 auto;
  border-spacing: 0;
}
  
#Tabela2 thead th{
  font-weight: bold;
  background-color: black;
  color:white;
  padding:2px 5px;
}
  
#Tabela2 tr td{
  padding:2px 5px;
  cursor: pointer; /**importante para não mostrar cursor de texto**/
  font-size: 20px;
  border-bottom: none;
  border-top: none;
  text-align: left;
}

#Tabela2 tr:nth-child(even){
    background-color: white;
  }

#Tabela2 tr:nth-child(odd){
  background-color: #F3EBE1;
}

#Tabela2 tr:first-child{
  border-top: 1px solid #FAEFC0;
}

#Tabela2 tr:last-child{
  border-bottom: 1px solid #FAEFC0;
}

#Tabela2 tr.selecionado td{
  background-color: #F37021;
  color:white;
}


#Tabela3{
  width:100%;
  margin:0 auto;
  border-spacing: 0;
}
  
#Tabela3 thead th{
  font-weight: bold;
  background-color: black;
  color:white;
  padding:2px 5px;
}
  
#Tabela3 tr td{
  padding:2px 5px;
  border: 1px solid #FAEFC0;
  cursor: pointer; /**importante para não mostrar cursor de texto**/
  font-size: 20px;
  text-align: center;
}

#Tabela3 tr:nth-child(even){
  background-color: white;
}

#Tabela3 tr:nth-child(odd){
  background-color: #F3EBE1;
}

#Tabela3 tr.selecionado td{
  background-color: #F37021;
  color:white;
}

#Tabela3-title{
  width:100%;
  margin:0 auto;
  border-spacing: 0;
}
    
#Tabela3-title thead th{
  font-weight: bold;
  background-color: black;
  color:white;
  padding:2px 5px;
}
  
#Tabela3-title tr td{
  padding:2px 5px;
  border: 1px solid #FAEFC0;
  cursor: pointer; /**importante para não mostrar cursor de texto**/
}
   
#Tabela3-title tr td{
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: black;
  margin: auto 10px;
  font-size: 20px;
  text-align: center;
}