

/* ========== Tela Main ========== */
.page-user {
    flex-direction: row;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.page-user .cabinet_user {
    margin-right: 100px;
    margin-top: -50px;
    width: 674px;
    height: 761px;
    background-color: transparent;
    background-image: url('../img/Organizador.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    align-items: center;
    position: flex;
}

.page-user .imagem_gaveta {
    margin-top: 30px;
    width: 738px;
    height: 494.114px;
    border: 2px solid #FAEFC0;
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.page-user .xyFerramenta {
  background-color:red;
  opacity: 75%;
  border:3px solid red;
  position:absolute;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50%{
    opacity: 0.25;
  }
}

.page-user .imagem_manual {
    margin-top: 0px;
    width: 989px;
    height: 700px;
    border: 1px solid #FAEFC0;
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.page-user .scroll {
  height:501px;
  width:868px;
  overflow:auto;
  margin-left: 0px;
  background: transparent;
  border-top: 1px solid #FAEFC0;
  border: transparent;
  align-items: center;
  flex-direction: column;
  margin: auto;
  overflow-x: hidden; /*Desabilita scrollbar horizontal*/
  overflow-y: scroll;
}

.page-user .scroll::-webkit-scrollbar {
  width: 20px;
}
.page-user .scroll::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid #FAEFC0;
}
.page-user .scroll::-webkit-scrollbar-thumb {
  background-color: #FAEFC0;
  border-radius: 0px;
  border: 3px solid transparent;
}

.page-user .scroll .imagem_documento {
    margin-top: 0px;
    margin-left: -20px;
    width: 889px;
    height: 1200px;
    border: 1px solid #FAEFC0;
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.img-zoom-container {
  position: relative;
  display: flex;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 200px;
  height: 265px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 400px;
  height: 530px;
}

/*.page-user .btn_up {
    width: 50px;
    height: 72px;
    background-color: transparent;
    background-image: url('../img/voltar.png');
    background-size: 100%;
    display: flex;
    background-color: transparent;
    border: transparent;
    visibility: visible;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50%;
}

.page-user .btn_down {
    width: 50px;
    height: 72px;
    transform: rotate(180deg);
    background-color: transparent;
    background-image: url('../img/voltar.png');
    background-size: 100%;
    display: flex;
    background-color: transparent;
    border: transparent;
    visibility: visible;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50%;
}*/

.page-user .btn_left {
  background: url('../img/button-opacity-default-88.svg') no-repeat;
  width: 64px;
  height: 64px;
  margin-right: 0px;
  justify-content: space-between;
  border: none;
  display: flex;
}

.page-user .btn_left:active {
  background: url('../img/button-opacity-default-88.svg') no-repeat;
  width: 64px;
  height: 64px;
  opacity: 0.5;
}

.page-user .btn_left p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  margin: auto;
  font-size: 25px;
  width: 64px;
  text-align: center;
}

.page-user .btn_right {
  background: url('../img/button-opacity-default-88.svg') no-repeat;
  width: 64px;
  height: 64px;
  margin-left: 0px;
  justify-content: space-between;
  border: none;
  display: flex;
}

.page-user .btn_right:active {
  background: url('../img/button-opacity-default-88.svg') no-repeat;
  width: 64px;
  height: 64px;
  opacity: 0.5;
}

.page-user .btn_right p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  margin: auto;
  font-size: 25px;
  width: 64px;
  text-align: center;
}

.page-user .info-column {
  margin-left: 10px;
  flex-direction: column;
}

.page-user .info-column p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  margin-top: 17px;
  font-size: 20px;
  margin-left: 0;
  width: 180px;
  text-align: center;
}

.page-user .button-216 .btn-abregaveta {
  background: url('../img/cabinet-tool-search-3.svg') no-repeat;
  width: 216px;
  height: 66px;
  border: none;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 50%;
}

.page-user .button-216 .btn-abregaveta:focus {
  background: url('../img/cabinet-tool-search-3.svg') no-repeat;
  width: 216px;
  height: 66px;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 50%;
}

.page-user .button-216 .c_loader {
  animation: is-rotating 1.5s linear infinite;
  border: 6px solid #FAEFC0;
  border-radius: 50%;
  border-top-color: #F37021;
  background-color: transparent;
  margin-top: 13px;
  margin-left: 88px;
  height: 40px;
  width: 40px;
}

.page-user .button-216 .c_loader p{
  visibility: hidden;/*visible ou hidden*/
  align-self: center;
}

.page-user .button-216-green .btn-fechagaveta {
    background: url('../img/fechar gaveta.png') no-repeat;
    width: 216px;
    height: 66px;
    border: none;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50%;
}

.page-user .button-216-green .btn-fechagaveta:focus {
    background: url('../img/fechar gaveta.png') no-repeat;
    width: 216px;
    height: 66px;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50%;
}

.page-user .cabinet_user .gaveta_button {
    width: 470px;
    height: 59px;
    background-image: url('../img/gaveta - button.png');
    background-size: 100%;
    background-color: transparent;
    border: transparent;
    position:flex;
    margin-left:102.5px;
    margin-top:4px;
    display: flex;
}

.page-user .cabinet_user .gaveta_button p{
    font-family: 'Electrolize', Arial, Helvetica, sans-serif;
    color:#FAEFC0;
    margin-top:4px;
    font-size:25px;
    align-self: center;
}

.page-user .cabinet_user .gaveta_aberta {
    width: 523.2px;
    height: 59px;
    background-image: url('../img/gaveta aberta.png');
    background-size: 100%;
    background-color: transparent;
    border: transparent;
    position:flex;
    margin-left:75.3px;
    margin-top:4px;
    display: flex;
}

.page-user .cabinet_user .gaveta_aberta p{
    font-family: 'Electrolize', Arial, Helvetica, sans-serif;
    color:#FAEFC0;
    margin-top:4px;
    font-size:25px;
    align-self: center;
}

.page-user .cabinet_user .button_abregaveta {
    width: 193.5px;
    height: 52px;
    background-color: transparent;
    margin-left: 88.25px;
    margin-top: 4px;
    border: transparent;
    background-image: url('../img/tramontina-tool-select-4.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.page-user .cabinet_user .button_abregaveta p{
    font-family: 'Electrolize', Arial, Helvetica, sans-serif;
    color:Black;
    margin-top:4px;
    font-size:30px;
    align-self: center;
}

.page-user .cabinet_user .c_loader {
  animation: is-rotating 1.5s linear infinite;
  border: 6px solid #FAEFC0;
  border-radius: 50%;
  border-top-color: #F37021;
  background-color: transparent;
  margin-top: 8px;
  margin-left: 165px;
  height: 40px;
  width: 40px;
}

.page-user .cabinet_user .c_loader p{
  visibility: hidden;/*visible ou hidden*/
  align-self: center;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

.page-user .cabinet_user .button_fechagaveta {
    width: 193.5px;
    height: 52px;
    background-color: transparent;
    background-size: 100%;
    margin-left: 114.85px;
    margin-top: 4px;
    border: transparent;
    background-image: url('../img/tramontina-tool-select-5.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.page-user .cabinet_user .button_fechagaveta p{
    font-family: 'Electrolize', Arial, Helvetica, sans-serif;
    color:Black;
    margin-top:4px;
    font-size:30px;
    align-self: center;
}

.page-user .cabinet_user .button_viewgaveta {
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url('../img/cabinet-tool-search-2.svg');
    background-size: 100%;
    margin-top: 0px;
    margin-left: 0px;
    border: transparent;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 55%;
    visibility: visible;/*visible ou hidden*/
}

.page-user .cabinet_user .button_viewgaveta_hidden {
  width: 50px;
  height: 100%;
  visibility: hidden;
}

.page-user .cabinet_user .button_resultgaveta {
    width: 46.5px;
    height: 46.5px;
    background-color: red;
    background-size: 100%;
    border-radius: 50%;
    display: inline-block;
    margin-top: 6.5px;
    border: transparent;
    visibility: visible;/*visible ou hidden*/
    text-decoration: none;
}

.page-user .cabinet_user .button_resultgaveta p{
    width: 46.5px;
    margin-top: 5.5px;
    margin-left: -8px;
    font-size: 25px;
    font-family: 'Electrolize', Arial, Helvetica, sans-serif;
    color: #FAEFC0;
    display: flex;
    justify-content: center;
}

.page-user .cabinet_user .button_resultgaveta_hidden {
    width: 46.5px;
    height: 46.5px;
    visibility: hidden;
}

.page-user .apps {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    margin-top: 5px;
    margin-left: 0px;
    border: none;
}

.page-user .apps .first-column {
    align-items: center;
}

.page-user .apps .first-column .search-input {
    width: 354px;
    height: 56px;
    background-color: #FEFCF2;
    border: none;
    margin-left: 10px;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-user .apps .first-column .search-input input {
    width:324px;
    height:66px;
    background: transparent;
    border: none;
    outline-color: transparent !important;
    color:black;
    font-size: 25px;
    margin-left: 0px;
}

.page-user .apps .first-column .search-input input:focus {
    outline:0;
}
.page-user .apps .first-column {
    align-items: center;
}
.page-user .apps .second-column {
    flex-direction: column;
}

.page-user .apps .second-column .search-button {
    width: 66px;
    height: 66px;
    background-color: transparent;
    background-image: url('../img/buscar button.png');
    background-size: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent
}

.page-user .apps .second-column .search-button:focus {
    width: 66px;
    height: 66px;
    background-image: url('../img/buscar button.png');
    opacity: 0.5;
}

.page-user .apps p {
    font-family: 'Electrolize', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FAEFC0;
    margin-top: 3px;
    height: 3px;
    align-self: center;
}

.page-user .apps .columns {
    flex-direction: column;
    margin: 10px;
}

.page-user .apps .button_calculadora {
    width: 90px;
    height: 90px;
    background-color: transparent;
    background-image: url('../img/calculadora.png');
    background-size: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent
}

.page-user .apps .button_calculadora:focus {
    background: url('../img/calculadora.png') no-repeat;
    width: 90px;
    height: 90px;
    background-size: 100%;
    opacity: 0.5;
}

.page-user .apps .button_relatorio {
    width: 90px;
    height: 90px;
    background-color: transparent;
    background-image: url('../img/enviar relatorio.svg');
    background-size: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent
}

.page-user .apps .button_relatorio:focus {
    background: url('../img/enviar relatorio.svg') no-repeat;
    width: 90px;
    height: 90px;
    background-size: 100%;
    opacity: 0.5;
}

.page-user .apps .button_composicao {
    width: 90px;
    height: 90px;
    background-color: transparent;
    background-image: url('../img/composicao.svg');
    background-size: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent
}

.page-user .apps .button_composicao:focus {
    background: url('../img/composicao.svg') no-repeat;
    width: 90px;
    height: 90px;
    background-size: 100%;
    opacity: 0.5;
}

.page-user .apps .button_usuarios {
    width: 90px;
    height: 90px;
    background-color: transparent;
    background-image: url('../img/usuarios.png');
    background-size: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent
}

.page-user .apps .button_usuarios:focus {
    background: url('../img/usuarios.png') no-repeat;
    width: 90px;
    height: 90px;
    background-size: 100%;
    opacity: 0.5;
}

.page-user .apps .button_remoto {
    width: 90px;
    height: 90px;
    background-color: transparent;
    background-image: url('../img/acesso remoto 136x136.svg');
    background-size: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent
}

.page-user .apps .button_remoto:focus {
    background: url('../img/acesso remoto 136x136.svg') no-repeat;
    width: 90px;
    height: 90px;
    background-size: 100%;
    opacity: 0.5;
}

.page-user .apps .button_settings {
    width: 90px;
    height: 90px;
    background-color: transparent;
    background-image: url('../img/settings.png');
    background-size: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent
}

.page-user .apps .button_settings:focus {
    background: url('../img/settings.png') no-repeat;
    width: 90px;
    height: 90px;
    background-size: 100%;
    opacity: 0.5;
}

.page-user .apps .button_testes {
    width: 90px;
    height: 90px;
    background-color: transparent;
    background-image: url('../img/button_testes.svg');
    background-size: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent
}

.page-user .apps .button_testes:focus {
    background: url('../img/button_testes.svg') no-repeat;
    width: 90px;
    height: 90px;
    background-size: 100%;
    opacity: 0.5;
}

.page-user .apps .button_dateTime {
  width: 90px;
  height: 90px;
  background-color: transparent;
  background-image: url('../img/Data e hora.svg');
  background-size: 100%;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent
}

.page-user .apps .button_dateTime:focus {
  background: url('../img/Data e hora.svg') no-repeat;
  width: 90px;
  height: 90px;
  background-size: 100%;
  opacity: 0.5;
}

.page-user .apps .button_wifi {
    width: 90px;
    height: 90px;
    background-color: transparent;
    background-image: url('../img/wifi.svg');
    background-size: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent
}

.page-user .apps .button_wifi:focus {
    background: url('../img/wifi.svg') no-repeat;
    width: 90px;
    height: 90px;
    background-size: 100%;
    opacity: 0.5;
}

.page-user .apps .button_historico {
    width: 90px;
    height: 90px;
    background-color: transparent;
    background-image: url('../img/historico 136x136.png');
    background-size: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent
}

.page-user .apps .button_historico:focus {
    background: url('../img/historico 136x136.png') no-repeat;
    width: 90px;
    height: 90px;
    background-size: 100%;
    opacity: 0.5;
}

.page-user .apps .button_usermanual {
    width: 90px;
    height: 90px;
    background-color: transparent;
    background-image: url('../img/user manual.png');
    background-size: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent
}

.page-user .apps .button_usermanual:focus {
    background: url('../img/user manual.png') no-repeat;
    width: 90px;
    height: 90px;
    background-size: 100%;
    opacity: 0.5;
}

.page-user .apps .btn_relatorio {
  background: url('../img/fundo_btn.svg') no-repeat;
  width: 90px;
  height: 90px;
  justify-content: space-between;
  border: none;
  display: flex;
}

.page-user .apps .btn_relatorio:focus {
  background: url('../img/fundo_btn.svg') no-repeat;
  width: 90px;
  height: 90px;
  opacity: 0.5;
}

.page-user .apps .btn_relatorio p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  margin-top: 40px;
  font-size: 25px;
  margin-left: 0;
  width: 260px;
  height: 60px;
  text-align: center;
}

.page-user .apps .relatorio_loader {
  animation: is-rotating 1.5s linear infinite;
  border: 8px solid #FAEFC0;
  border-radius: 50%;
  border-top-color: #F37021;
  background-color: transparent;
  margin-top: 20px;
  margin-left: 20px;
  height: 50px;
  width: 50px;
}

/* ========== Tela Composição ========== */
.page-composicao {
  flex-direction: row;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.page-composicao .imagem_gaveta {
  margin-top: 0px;
  width: 300px;
  height: 201px;
  border: 2px solid #FAEFC0;
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.page-composicao p {
  font-size: 20px;
  font-family:Coda;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#FAEFC0;
}

/* ========== Tela Histórico ========== */
.historico {
    flex-direction: row;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.historico .first-column {
    align-items: center;
}

.historico .first-column .search-user {
    height:66px;
    width:890px;
    background: url('../img/admin-historic-1.svg') no-repeat;
    border: none;
    flex-direction: row;
    margin-top: 0px;
    display: flex;
    justify-content: left;
}

.historico .first-column .search-user input {
    height:66px;
    width:780px;
    background: transparent;
    border: none;
    outline-color: transparent !important;
    color: #FAEFC0;
    font-size: 25px;
    margin-left: 20px;
}

.historico .first-column .search-user input:focus {
    outline:0;
}

.historico .first-column .search-user .img {
    height: 40px;
    width: 40px;
    background: url('../img/admin-historic-2.svg');
    border: none;
    margin-top: 13px;
    margin-left: 20px;
}

.historico .lista-eventos {
    height:100%;
    width:1192px;
    background-color: #FEFCF2;
    border: none;
    align-items: left;
    flex-direction: row;
    margin-top: 20px;
}

.historico .lista-eventos .scroll {
    height:399px;
    width:1210px;
    overflow:auto;
    margin-left: 0px;
    background: transparent;
    border-top: 1px solid #FAEFC0;
    border: transparent;
    align-items: center;
    flex-direction: column;
    margin: auto;
    overflow-x: hidden; /*Desabilita scrollbar horizontal*/
    overflow-y: scroll;
}
  
.historico .lista-eventos .scroll::-webkit-scrollbar {
  width: 20px;
}
.historico .lista-eventos .scroll::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid #FAEFC0;
}
.historico .lista-eventos .scroll::-webkit-scrollbar-thumb {
  background-color: #FAEFC0;
  border-radius: 0px;
  border: 3px solid transparent;
}

.historico .second-column {
    margin-left: 20px;
    flex-direction: column;
}

.historico .second-column .btns {
    background: url('../img/button-opacity-default-281.svg') no-repeat;
    width: 281px;
    height: 65px;
    justify-content: space-between;
    border: none;
    display: flex;
}

.historico .second-column .btns:focus {
    background: url('../img/button-opacity-default-281.svg') no-repeat;
    width: 281px;
    height: 65px;
    opacity: 0.5;
}

.historico .second-column .btns p {
    font-family: 'Coda', Arial, Helvetica, sans-serif;
    color: #FAEFC0;
    margin: auto 10px;
    font-size: 25px;
    margin-left: 0;
    width: 250px;
    text-align: center;
}

.historico .info-column {
  margin-left: 10px;
  flex-direction: column;
}

.historico .info-column p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  margin-top: 17px;
  font-size: 20px;
  margin-left: 0;
  width: 180px;
  text-align: center;
}

.retiradas {
    flex-direction: row;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.btns_historico {
  background: url('../img/button-opacity-default-88.svg') no-repeat;
  width: 64px;
  height: 64px;
  justify-content: space-between;
  border: none;
  display: flex;
}

.btns_historico:focus {
  background: url('../img/button-opacity-default-88.svg') no-repeat;
  width: 64px;
  height: 64px;
  opacity: 0.5;
}

.btns_historico p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  margin: auto;
  font-size: 25px;
  width: 64px;
  text-align: center;
}

/* ========== Tela Ferramentas Retiradas ========== */
.retiradas .lista-ferramentas {
    height:100%;
    width:1192px;
    background-color: #FEFCF2;
    border: none;
    align-items: left;
    flex-direction: row;
    margin-top: 0px;
}

.retiradas .lista-ferramentas .scroll {
    height:510px;
    width:1210px;
    overflow:auto;
    margin-left: 0px;
    background: transparent;
    border-top: 1px solid #FAEFC0;
    border: transparent;
    align-items: center;
    flex-direction: column;
    margin: auto;
    overflow-x: hidden; /*Desabilita scrollbar horizontal*/
    overflow-y: scroll;
}

.retiradas .lista-ferramentas .scroll::-webkit-scrollbar {
    width: 20px;
}
.retiradas .lista-ferramentas .scroll::-webkit-scrollbar-track {
    background: transparent;
    border: 1px solid #FAEFC0;
}
.retiradas .lista-ferramentas .scroll::-webkit-scrollbar-thumb {
    background-color: #FAEFC0;
    border-radius: 0px;
    border: 3px solid transparent;
}

.retiradas .lista-ferramentas .scroll .frame-tool-mini {
    width: 100px;
    height: 125px;
    margin-top: 0px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
}

.numeroRetiradas {
    width: 55px;
    height: 55px;
    background-color: red;
    background-size: 100%;
    border-radius: 50%;
    display: inline-block;
    margin-top: 0px;
    margin-left: 30px;
    border: transparent;
    visibility: visible;/*visible ou hidden*/
    text-decoration: none;
}

.numeroRetiradas p{
    width: 55px;
    margin-top: 8px;
    margin-left: -2px;
    font-size: 27.5px;
    font-family: 'Electrolize', Arial, Helvetica, sans-serif;
    color: #FAEFC0;
    display: flex;
    justify-content: center;
}

/* ========== Histórico Resumido ========== */
.historico-resumido {
    flex-direction: row;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.historico-resumido .lista-eventos {
    height:281.5px;
    width:420;
    background-color: transparent;
    border: none;
    align-items: left;
    flex-direction: row;
    margin-top: 0px;
}

.historico-resumido .lista-eventos .scroll-eventos {
    height:281.5px;
    width:420;
    overflow:auto;
    margin-left: 0px;
    background: transparent;
    border-top: 1px solid #FAEFC0;
    align-items: center;
    flex-direction: column;
    margin: auto;
    overflow-x: hidden; /*Desabilita scrollbar horizontal*/
}
  
.historico-resumido .lista-eventos .scroll-eventos::-webkit-scrollbar {
  width: 15px;
}
.historico-resumido .lista-eventos .scroll-eventos::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid #FAEFC0;
  border-top: none;
}
.historico-resumido .lista-eventos .scroll-eventos::-webkit-scrollbar-thumb {
  background-color: #FAEFC0;
  border-radius: 0px;
  border: 3px solid transparent;
}


/* ========== Janela de gaveta trancada ========== */
.janela-gavetaTrancada {
  height:280px;
  width:700px;
  background-color: #FEFCF2;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.janela-gavetaTrancada .contents {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.janela-gavetaTrancada .contents p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: black;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 28px;
  text-align: center;
}

.janela-gavetaTrancada .contents .error {
  width: 96px;
  height: 96px;
  background-image: url('../img/error msg 96x96.svg');
}

.janela-gavetaTrancada .contents .certo {
  width: 96px;
  height: 96px;
  background-image: url('../img/certo.svg');
}

.janela-gavetaTrancada .contents .alerta {
  width: 96px;
  height: 96px;
  background-image: url('../img/alert.svg');
}

.janela-gavetaTrancada .contents .btns {
  background: url('../img/button msg 224x64.svg') no-repeat;
  width: 224px;
  height: 64px;
  margin-left: 20px;
  text-align: center;
  justify-content: center;
  border: none;
}

.janela-gavetaTrancada .contents .btns:active {
  background: url('../img/button msg 224x64.svg') no-repeat;
  width: 224px;
  height: 64px;
  opacity: 0.5;
}

.janela-gavetaTrancada .contents .btns p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  margin: auto 10px;
  font-size: 25px;
  text-align: center;
}


/* ========== Tela de confirmação desligamento ========== */
.bg-confirmacao {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-confirmacao .janela-confirmacao {
  height:340px;
  width:700px;
  background-color: #FEFCF2;
  border: 1px solid #FAEFC0;
  display: flex;
  flex-direction: column;
}

.bg-confirmacao .janela-confirmacao .contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bg-confirmacao .janela-confirmacao .contents p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.bg-confirmacao .janela-confirmacao .contents .desligar {
  width: 96px;
  height: 96px;
  margin-left: 52px;
  display: flex;
  background-color: transparent;
  border: transparent;
  background-image: url('../img/desligar msg 96x96.svg');
}

.bg-confirmacao .janela-confirmacao .contents .desligar:focus {
  width: 96px;
  height: 96px;
  margin-left: 52px;
  display: flex;
  background-image: url('../img/desligar msg 96x96.svg');
  opacity: 0.5;
}

.bg-confirmacao .janela-confirmacao .contents .reiniciar {
  width: 96px;
  height: 96px;
  margin-left: 52px;
  display: flex;
  background-color: transparent;
  border: transparent;
  background-image: url('../img/Reiniciar.svg');
}

.bg-confirmacao .janela-confirmacao .contents .reiniciar:focus {
  width: 96px;
  height: 96px;
  margin-left: 52px;
  display: flex;
  background-image: url('../img/Reiniciar.svg');
  opacity: 0.5;
}

.bg-confirmacao .janela-confirmacao .contents .user {
  width: 96px;
  height: 96px;
  margin-left: 52px;
  display: flex;
  background-color: transparent;
  border: transparent;
  background-image: url('../img/user msg 96x96.svg');
}

.bg-confirmacao .janela-confirmacao .contents .crash {
  width: 96px;
  height: 96px;
  margin-left: 52px;
  display: flex;
  background-color: transparent;
  border: transparent;
  background-image: url('../img/crash.svg');
}

.bg-confirmacao .janela-confirmacao .contents .question {
  width: 96px;
  height: 96px;
  margin-left: 0px;
  display: flex;
  background-color: transparent;
  border: transparent;
  background-image: url('../img/question.svg');
}

.bg-confirmacao .janela-confirmacao .contents .user:focus {
  width: 96px;
  height: 96px;
  margin-left: 52px;
  display: flex;
  background-image: url('../img/user msg 96x96.svg');
  opacity: 0.5;
}

.bg-confirmacao .janela-confirmacao .contents .btns {
  background: url('../img/button msg 224x64.svg') no-repeat;
  width: 224px;
  height: 64px;
  margin-left: 20px;
  text-align: center;
  justify-content: center;
  border: none;
}

.bg-confirmacao .janela-confirmacao .contents .btns:focus {
  background: url('../img/button msg 224x64.svg') no-repeat;
  width: 224px;
  height: 64px;
  opacity: 0.5;
}

.bg-confirmacao .janela-confirmacao .contents .btns p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  margin: auto 10px;
  font-size: 25px;
  text-align: center;
}

/* ========== Janela para confirmar exclusao ========== */
.janela-confirmaRestauracao {
  height:280px;
  width:700px;
  background-color: #FEFCF2;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.janela-confirmaRestauracao .contents {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.janela-confirmaRestauracao .contents p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: black;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 28px;
  text-align: center;
}

.janela-confirmaRestauracao .contents .atencao {
  width: 96px;
  height: 96px;
  background-image: url('../img/alert.svg');
}

.janela-confirmaRestauracao .contents .btns {
  background: url('../img/button msg 224x64.svg') no-repeat;
  width: 224px;
  height: 64px;
  margin-left: 20px;
  text-align: center;
  justify-content: center;
  border: none;
}

.janela-confirmaRestauracao .contents .btns:active {
  background: url('../img/button msg 224x64.svg') no-repeat;
  width: 224px;
  height: 64px;
  opacity: 0.5;
}

.janela-confirmaRestauracao .contents .btns p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  margin: auto 10px;
  font-size: 25px;
  text-align: center;
}

/* ========== Tela de opções de sistema ========== */

.bg-confirmacao .janela-systemoptions {
  height:510px;
  width:610px;
  background-color: #FEFCF2;
  border: 1px solid #FAEFC0;
  display: flex;
  flex-direction: column;
}

.bg-confirmacao .janela-systemoptions .contents {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 80px;
}

.bg-confirmacao .janela-systemoptions .contents p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  margin-top: 10px;
  text-align: right;
}

.bg-confirmacao .janela-systemoptions .contents .question {
  width: 96px;
  height: 96px;
  margin-left: 0px;
  display: flex;
  background-color: transparent;
  border: transparent;
  background-image: url('../img/question.svg');
}

.bg-confirmacao .janela-systemoptions .contents .btns {
  background: url('../img/button msg 224x64.svg') no-repeat;
  width: 224px;
  height: 64px;
  margin-left: 20px;
  margin-top: -10px;
  text-align: center;
  justify-content: center;
  border: none;
}

.bg-confirmacao .janela-systemoptions .contents .btns:active {
  background: url('../img/button msg 224x64.svg') no-repeat;
  width: 224px;
  height: 64px;
  opacity: 0.5;
}

.bg-confirmacao .janela-systemoptions .contents .btns p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  margin: auto 10px;
  font-size: 25px;
  text-align: center;
}

/* ========== Tela de login bloqueado ========== */
.bg-loginblocked {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-loginblocked .janela-timer {
  height:280px;
  width:700px;
  background-color: #FEFCF2;
  border: 1px solid #FAEFC0;
  display: flex;
  flex-direction: column;
}

.bg-loginblocked .janela-timer .contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bg-loginblocked .janela-timer .contents .error {
  width: 96px;
  height: 96px;
  background-image: url('../img/error msg 96x96.svg');
}

.bg-loginblocked .janela-timer .contents p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: black;
  margin-top: 10px;
  text-align: center;
  font-size: 25px; 
  width: 520px; 
  margin-left: 20px;
}

.bg-loginblocked .janela-timer .timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-loginblocked .janela-timer .timer p {
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: red;
  font-size: 40px;
  margin-top: 10px;
  text-align: center;
}

/* ========== Tabela 1 ========== */
#Tabela1{
  width:1192px;
  margin:0 auto;
  border-spacing: 0;
  table-layout: fixed;
  word-wrap: break-word;
}
  
#Tabela1 thead th{
  font-weight: bold;
  background-color: black;
  color:white;
  padding:2px 5px;
}
  
#Tabela1 tr td{
  padding:2px 5px;
  border: 1px solid #FAEFC0;
  border-bottom: none;
  border-top: none;
  cursor: pointer; /**importante para não mostrar cursor de texto**/
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: black;
  margin: auto 10px;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
}
  
/**Cores**/

#Tabela1 tr:nth-child(even){
    background-color: white;
}

#Tabela1 tr:nth-child(odd){
  background-color: #F3EBE1;
}
  
/*#minhaTabela tr:nth-child(odd){
  background-color: #eee;
}*/
  
/**Cor quando passar por cima*
#Tabela1 tr:hover td{
  background-color: #FAEFC0;
  color:black;
}*/
  
/**Cor quando selecionado**/
#Tabela1 tr.selecionado td{
  background-color: #F37021;
  color:white;
}

#Tabela1-title{
  width:1192px;
  margin:0 auto;
  border-spacing: 0;
  table-layout: fixed;
  word-wrap: break-word;
}
  
#Tabela1-title thead th{
  font-weight: bold;
  background-color: black;
  color:white;
  padding:none;
}
  
#Tabela1-title tr td{
  padding:none;
  border: 1px solid #FAEFC0;
  border-bottom: none;
  border-top: none;
  cursor: pointer; /**importante para não mostrar cursor de texto**/
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: black;
  margin: none;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
}

.btn_ordenarHistorico{
  background-color: #202020;
  color: #FAEFC0;
  border: none;
}

.btn_ordenarHistorico:focus {
  background-color: #202020;
  color: #FAEFC0;
}

/* ========== Tabela 2 ========== */
#Tabela2{
  width:872px;
  margin:0 auto;
  border-spacing: 0;
}
  
#Tabela2 thead th{
  font-weight: bold;
  background-color: black;
  color:white;
  padding:2px 5px;
}

#Tabela2 tr td{
  padding:2px 5px;
  border: 1px solid #FAEFC0;
  border-bottom: none;
  border-top: none;
  cursor: pointer; /**importante para não mostrar cursor de texto**/
}
  
#Tabela2 tr td{
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: black;
  margin: auto 10px;
  font-size: 20px;
  text-align: center;
}
  
/**Cores**/
 
#Tabela2 tr:nth-child(even){
    background-color: white;
  }

#Tabela2 tr:nth-child(odd){
  background-color: #F3EBE1;
}

/*#Tabela2 tr:nth-child(odd){
  background-color: #eee;
}*/
  
/**Cor quando passar por cima**/
/*#Tabela2 tr:hover td{
  background-color: #FAEFC0;
  color:black;
}*/
  
/**Cor quando selecionado**/
#Tabela2 tr.selecionado td{
  background-color: #F37021;
  color:white;
}

#Tabela2 tr.removido td{
  color:red;
}

#Tabela2-title{
  width:872px;
  margin:0 auto;
  border-spacing: 0;
}
  
#Tabela2-title thead th{
  font-weight: bold;
  background-color: black;
  color:white;
  padding:2px 5px;
}

#Tabela2-title tr td{
  padding:2px 5px;
  border: 1px solid #FAEFC0;
  border-bottom: none;
  border-top: none;
  cursor: pointer; /**importante para não mostrar cursor de texto**/
}
  
#Tabela2-title tr td{
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: black;
  margin: auto 10px;
  font-size: 20px;
  text-align: center;
}

/* ========== Tabela 3 ========== */
#Tabela3{
  width:1192px;
  margin:0 auto;
  border-spacing: 0;
}
    
#Tabela3 thead th{
  font-weight: bold;
  background-color: black;
  color:white;
  padding:2px 5px;
}
  
#Tabela3 tr td{
  padding:2px 5px;
  border: 1px solid #FAEFC0;
  cursor: pointer; /**importante para não mostrar cursor de texto**/
}
   
#Tabela3 tr td{
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: black;
  margin: auto 10px;
  font-size: 20px;
  text-align: center;
}

/**Cores**/
/*
#Tabela3 tr:nth-child(even){
    background-color: white;
  }

#Tabela3 tr:nth-child(odd){
  background-color: #F3EBE1;
}
*/
/*#Tabela2 tr:nth-child(odd){
  background-color: #eee;
}*/
    
/**Cor quando passar por cima*
#Tabela3 tr:hover td{
  background-color: #FAEFC0;
  color:black;
}*/
 
/**Cor quando selecionado**/
#Tabela3 tr.selecionado td{
  background-color: #F37021;
  color:white;
}

#Tabela3-title{
  width:1192px;
  margin:0 auto;
  border-spacing: 0;
}
    
#Tabela3-title thead th{
  font-weight: bold;
  background-color: black;
  color:white;
  padding:2px 5px;
}
  
#Tabela3-title tr td{
  padding:2px 5px;
  border: 1px solid #FAEFC0;
  cursor: pointer; /**importante para não mostrar cursor de texto**/
}
   
#Tabela3-title tr td{
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: black;
  margin: auto 10px;
  font-size: 20px;
  text-align: center;
}

/* ========== Tabela 4 ========== */
#Tabela4{
  width:420px;
  margin:0 auto;
  border-spacing: 0;
}
      
#Tabela4 thead th{
  font-weight: bold;
  background-color: black;
  color:white;
  padding:2px 5px;
}

/*#Tabela4 tr:first-child{
  padding:2px 5px;
  border-top:none;
  border-left:none;
  border-right:none
}*/

#Tabela4 tr td{
  padding:2px 5px;
  border-bottom: 1px solid #FAEFC0;
}
     
#Tabela4 tr td{
  font-family: 'Coda', Arial, Helvetica, sans-serif;
  color: #FAEFC0;
  margin: auto 10px;
  font-size: 18px;
  text-align: center;
}