<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/admin.css">
    <div class="head-left">
      <a href="/usuarios/main"><button class="btn_home"></button></a>
    </div>
    <div class="head-right">
      <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
    </div>
    <div id="errorMsg" style="margin-top: 40px; visibility:hidden" class="alert alert-danger">-</div>
  </head>
  <body>
    <div class="acesso-remoto" style="margin-top:20vh">
      <div id="HTTP-column" class="first-column">
        <div class="line">     
          <div class="conexao-http"></div>
        </div>
        <div class="line">
          <button id="iniciarHTTP" type="submit" class="btns" onclick="iniciarHTTP()">
            <p>Iniciar</p>
          </button>
          <div id="HTTPLoading" class="btns" style="display:none">
            <div class='c_loader'></div>
          </div>
          <div style="display:none" id="encerrarHTTP">
            <button type="submit" class="btns" onclick="encerrarHTTP()">
              <p>Encerrar</p>
            </button>
          </div>
        </div>
      </div>
      <div id="espacamento">
        <div style="width: 75px"></div>
      </div>
      <div id="SSH-column" class="second-column">
        <div class="line">         
          <div class="conexao-ssh"></div>
        </div>          
        <div class="line">
          <button id="iniciarSSH" type="submit" class="btns" onclick="iniciarSSH()">
            <p>Iniciar</p>
          </button>
          <div id="SSHLoading" class="btns" style="display:none">
            <div class='c_loader'></div>
          </div>
          <div style="display:none" id="encerrarSSH" >
            <button type="submit" class="btns" onclick="encerrarSSH()">
              <p>Encerrar</p>
            </button>
          </div>
        </div>
      </div>
  </div>
  <div class="acesso-remoto">
    <div class="url">
      <p id="urlConexao" style="display:none"></p>
    </div>
  </div>
  </body>
  <foot>
    <div class="footer">
      <a href="/usuarios/main"><button class="btn_return"></button></a>
    </div>
  </foot>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect();

    function iniciarHTTP(){
      document.getElementById("iniciarHTTP").style = "display:none";
      document.getElementById("iniciarSSH").style = "visibility:hidden";
      document.getElementById("HTTPLoading").style = "display:visible";
      socket.emit('iniciaNgrokHTTP')
    }

    socket.on('HTTPConectado', function(url){
      document.getElementById("errorMsg").style = "visibility:hidden";
      document.getElementById("encerrarHTTP").style = "display:visible";
      document.getElementById("SSH-column").style = "display:none";
      document.getElementById("espacamento").style = "display:none";
      document.getElementById("HTTPLoading").style = "display:none";
      document.getElementById("urlConexao").style = "display:visible";
      document.getElementById("urlConexao").innerHTML = 'URL: ' + url
    })
    
    function iniciarSSH(){
      document.getElementById("iniciarSSH").style = "display:none";
      document.getElementById("iniciarHTTP").style = "visibility:hidden";
      document.getElementById("SSHLoading").style = "display:visible";
      socket.emit('iniciaNgrokSSH')
    }

    socket.on('SSHConectado', function(url){
      document.getElementById("errorMsg").style = "visibility:hidden";
      document.getElementById("encerrarSSH").style = "display:visible";
      document.getElementById("HTTP-column").style = "display:none";
      document.getElementById("espacamento").style = "display:none";
      document.getElementById("SSHLoading").style = "display:none";
      document.getElementById("urlConexao").style = "display:visible";
      document.getElementById("urlConexao").innerHTML = 'URL: ' + url
    })

    function encerrarHTTP(){
      document.getElementById("iniciarHTTP").style = "display:visible";
      document.getElementById("encerrarHTTP").style = "display:none";
      document.getElementById("iniciarSSH").style = "display:visible";
      document.getElementById("encerrarSSH").style = "display:none";
      document.getElementById("espacamento").style = "display:visible";
      document.getElementById("SSH-column").style = "display:visible";
      document.getElementById("urlConexao").style = "display:none";
      socket.emit('encerraNgrok')
    }
    
    function encerrarSSH(){
      document.getElementById("iniciarHTTP").style = "display:visible";
      document.getElementById("encerrarHTTP").style = "display:none";
      document.getElementById("iniciarSSH").style = "display:visible";
      document.getElementById("encerrarSSH").style = "display:none";
      document.getElementById("espacamento").style = "display:visible";
      document.getElementById("HTTP-column").style = "display:visible";
      document.getElementById("urlConexao").style = "display:none";
      socket.emit('encerraNgrok')
    }

    socket.on('falhaConexao', function(){
      document.getElementById("iniciarHTTP").style = "display:visible";
      document.getElementById("encerrarHTTP").style = "display:none";
      document.getElementById("iniciarSSH").style = "display:visible";
      document.getElementById("encerrarSSH").style = "display:none";
      document.getElementById("espacamento").style = "display:visible";
      document.getElementById("HTTP-column").style = "display:visible";
      document.getElementById("SSHLoading").style = "display:none";
      document.getElementById("HTTPLoading").style = "display:none";
      document.getElementById("urlConexao").style = "display:none";
      document.getElementById("errorMsg").style = "visibility:visible";
      document.getElementById("errorMsg").innerHTML = "Erro ao estabelecer a conexão";
    })
    
  </script>
</html>