<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/admin.css">
  </head>
  <body>
    <div class="frame-update">
      <div class="update">
        <div class="info">
          <p style="height: 30px; font-size: 30px">Atualizando...</p>
          <div class="loading"></div>
          <p>Não desligue o dispositivo, esta operação pode levar alguns minutos</p>
          <p>Após a conclusão, o sistema será reiniciado automaticamente</p>
        </div>
      </div>
    </div>
  </body>
  <foot>
  </foot>
  <script  src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect();
    /*atualizarDispositivo()
    function atualizarDispositivo(){
      socket.emit('auxAtualizaDispositivo')
    }*/
  </script>
</html>