<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/grafico/admin.css">
  <div class="head-left">
    <a href="/usuarios/telalogout"><button class="btn_home"></button></a>
  </div>
  <div class="head-right">
    <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
  </div>
</head>
<body>
  <div class="title">Data e hora</div>
  <div class="data-hora" style="margin-top:10vh">
    <div class="first-column">
      <div class="line">
        <div class="column">
          <button class="btns-alterar-up" onclick="up_dia()"><p>↑</p></button>
          <p id="dia"></p>
          <button class="btns-alterar-down" onclick="down_dia()"><p>↓</p></button>
        </div>
        <p>/</p>
        <div class="column">
          <button class="btns-alterar-up" onclick="up_mes()"><p>↑</p></button>
          <p id="mes"></p>
          <button class="btns-alterar-down" onclick="down_mes()"><p>↓</p></button>
        </div>
        <p>/</p>
        <div class="column">
          <button class="btns-alterar-up" onclick="up_ano()"><p>↑</p></button>
          <p id="ano"></p>
          <button class="btns-alterar-down" onclick="down_ano()"><p>↓</p></button>
        </div>
      </div>
      <div class="line" style="margin-top:100px">
        <div class="column">
          <button class="btns-alterar-up" onclick="up_hora()"><p>↑</p></button>
          <p id="hora"></p>
          <button class="btns-alterar-down" onclick="down_hora()"><p>↓</p></button>
        </div>
        <p>:</p>
        <div class="column">
          <button class="btns-alterar-up" onclick="up_minuto()"><p>↑</p></button>
          <p id="minuto"></p>
          <button class="btns-alterar-down" onclick="down_minuto()"><p>↓</p></button>
        </div>
      </div>
      <div class="line" style="margin-top:100px">
        <button class="btns" onclick="alteraDataHora()">
          <p>Alterar</p>
        </button>
      </div>
    </div>
  </div>
</body>
<foot>
  <div class="footer">
    <a href="/usuarios/main"><button id="btn_return" class="btn_return"></button></a>
  </div>
</foot>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect();
    var arrDataMax = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

    var today=new Date();
    var dia=today.getDate();
    var mes=today.getMonth()+1; //Inicia em 0
    var ano=today.getFullYear();
    var hora=today.getHours();
    var minuto=today.getMinutes();

    document.getElementById('dia').innerHTML=(dia<10)?('0'+dia):dia;
    document.getElementById('mes').innerHTML=(mes<10)?('0'+mes):mes;
    document.getElementById('ano').innerHTML=ano;
    document.getElementById('hora').innerHTML=(hora<10)?('0'+hora):hora;
    document.getElementById('minuto').innerHTML=(minuto<10)?('0'+minuto):minuto;

    function up_dia(){
      dia = (dia<arrDataMax[mes-1])?(dia+1):1;
      document.getElementById('dia').innerHTML=(dia<10)?('0'+dia):dia;
    }
    function down_dia(){
      dia = (dia>1)?(dia-1):arrDataMax[mes-1];
      document.getElementById('dia').innerHTML=(dia<10)?('0'+dia):dia;
    }
    function up_mes(){
      mes = (mes<12)?(mes+1):1;
      if (dia>arrDataMax[mes-1]){
        dia = arrDataMax[mes-1]
        document.getElementById('dia').innerHTML=(dia<10)?('0'+dia):dia;
      }
      document.getElementById('mes').innerHTML=(mes<10)?('0'+mes):mes;
    }
    function down_mes(){
      mes = (mes>1)?(mes-1):12;
      if (dia>arrDataMax[mes-1]){
        dia = arrDataMax[mes-1]
        document.getElementById('dia').innerHTML=(dia<10)?('0'+dia):dia;
      }
      document.getElementById('mes').innerHTML=(mes<10)?('0'+mes):mes;
    }
    function up_ano(){
      ano = ano+1;
      document.getElementById('ano').innerHTML=ano;
    }
    function down_ano(){
      ano = ano-1;
      document.getElementById('ano').innerHTML=ano;
    }
    function up_hora(){
      hora = (hora<23)?(hora+1):0;
      document.getElementById('hora').innerHTML=(hora<10)?('0'+hora):hora;
    }
    function down_hora(){
      hora = (hora>0)?(hora-1):23;
      document.getElementById('hora').innerHTML=(hora<10)?('0'+hora):hora;
    }
    function up_minuto(){
      minuto = (minuto<59)?(minuto+1):0;
      document.getElementById('minuto').innerHTML=(minuto<10)?('0'+minuto):minuto;
    }
    function down_minuto(){
      minuto = (minuto>0)?(minuto-1):59;
      document.getElementById('minuto').innerHTML=(minuto<10)?('0'+minuto):minuto;
    }

    function alteraDataHora(){
      socket.emit('alteraDataHora', (String(mes)+'/'+String(dia)+'/'+String(ano)+' '+String(hora)+':'+String(minuto)+':00'))
      document.getElementById("btn_return").click();
    }
  </script>
</html>