<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/admin.css">
    <div class="head-left">
      <a href="/usuarios/main"><button class="btn_home"></button></a>
    </div>
    <div class="head-right">
      <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
    </div>
  </head>
  <body>
    <div class="title">Testes</div>
    <div class="testes">
      <div class="columns">
        <a href="/admin/gavetaespecifica"><button class="button-288">
          <p>Gaveta Específica</p>
        </button></a>
      </div>
      <div class="columns">
        <a href="/admin/todasgavetas"><button class="button-288">
          <p>Todas as Gavetas</p>
        </button></a>
      </div>
  </div>
  </body>
  <foot>
    <div class="footer">
      <a href="/usuarios/main"><button class="btn_return"></button></a>
    </div>
  </foot>
</html>