<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/admin.css">
    <div class="head-left">
      <a href="/usuarios/main"><button class="btn_home"></button></a>
    </div>
    <div class="head-right">
      <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
    </div>
  </head>
  <body>
    <div class="users">
      <div class="users columns">
        <a href="/admin/adduser"><button class="button_adduser"></button></a>
        <p>Adicionar</p>
      </div>
      <div class="users columns">
        <a href="/admin/edituser"><button class="button_edituser"></button></a>
        <p>Alterar</p>
      </div>
  </div>
  </body>
  <foot>
    <div class="footer">
      <a href="/usuarios/main"><button class="btn_return"></button></a>
    </div>
  </foot>
</html>