<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/admin.css">
    <link rel="stylesheet" href="/grafico/user.css">
    <div class="head-right">
      <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
    </div>
  </head>
  <body>
    <div class="bg-confirmacao" style="margin-top: -50px">
      <div class="janela-confirmacao">
        <div class="contents" style="margin-top: 30px; margin-left: -100px">
          <div style="margin-left: 50px; width: 150px">
            <div class="crash"></div>
          </div>
          <div class="contents" style="justify-content: center">
            <textarea readonly style="border:none; resize: none; dfont-size: 18px; margin-left: 15px; width: 550px; height: 205px; background-color: #FEFCF2">{{erro}}</textarea>
          </div>
        </div>
        <div class="contents" style="margin-top: 25px; margin-right: 10px; justify-content: right">
          <a href="/">
            <button class="btns">
              <p>Retornar</p>
            </button>
          </a>
        </div>
      </div>
    </div>
  </body>
  <foot>
</html>