<!DOCTYPE html>
<html>
  <head>
    <script src="client.js"></script>
    <link rel="stylesheet" href="/grafico/user.css">
  </head>
  <body>
    <div class="bg-loginblocked">
      <div class="janela-timer">
        <div class="contents" style="justify-content: center; margin-top: 25px; margin-left: 10px">
          <div class="error" style="margin-top: 20px"></div>
          <p id="msgRFID"></p>
        </div>
        <div align="center" class="timer" style="margin-top: 5px; margin-left: 126px">
          <p id="timer"></p>
        </div>
      </div>
    </div>
    <form action="/usuarios/loginrfid" method="POST" autocomplete="off">
      <input class="input-hidden" onkeypress="resetInput()" name="login" id="inputLogin" onblur="this.focus()" autofocus></input>
          <input id="pass" type="hidden" name="senha" value="0"></input>
      <button id="btn_submit" type="submit" style="background: none; border: none"></button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      var timer=100
      document.getElementById("timer").innerHTML = timer;

      atualizaTimer()
      function atualizaTimer(){
        document.getElementById("timer").innerHTML = timer;
        if (timer>0)
          timer = timer - 1
        else{
          timer = 0
          window.location = "/usuarios";
        }
        t=setTimeout('atualizaTimer()', 1000);//Delay para atualizar valores
      }

      if ({{configuracoes.cartao}}==0){
        document.getElementById("btn_submit").disabled = true;
        document.getElementById("msgRFID").innerHTML = "Número de tentativas de login excedido, aguarde para tentar novamente"
        document.getElementById("msgRFID").style = "margin-top: 30px";
      }
      else{
        document.getElementById("msgRFID").innerHTML = "Número de tentativas de login excedido, aproxime o seu cartão do leitor"
        + " ou aguarde para tentar novamente"
      }

      function resetInput(){
        setTimeout(function(){
          document.getElementById("inputLogin").value = ''}, 250)
      }

    </script>
  </body>
  <foot>
  </foot>
</html>
