<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/user.css">
  </head>
  <body>
    <div class="bg-confirmacao">
      <div class="janela-confirmacao">
        <div class="contents" style="margin-top: 40px; margin-left: 40px">
          <div class="user"></div>
          <p>Tem certeza de que deseja finalizar a sessão?</p>
        </div>
        <div class="contents" style="margin-top: 50px; margin-left: 180px">
          <button class="btns" onclick="history.back()">
            <p>Cancelar</p>
          </button>
          <a href="/usuarios"><button class="btns">
            <p>Finalizar Sessão</p>
          </button></a>
        </div>
      </div>
    </div>
  </body>
  <foot>
  </foot>
</html>