<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/grafico/user.css">
  <div class="head-left">
    <a href="/usuarios/main"><button class="btn_home"></button></a>
  </div>
  <div class="head-right">
    <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
  </div>
</head>
<body>
  <div class="img-zoom-container" style="margin-top:95px; margin-left: 10px">
    <img id="imgManual" src="../manual/manual-1.png" width="852" height="603">
    <div>
      <div id="imgZoom" class="img-zoom-result" style="margin-left: 10px; border: none"></div>
      <div class="page-user" style="margin-top: 10px; margin-left: 10px">
        <button id="idGaveta_up" onclick="manualPage_inicial()" class="btn_left"><p><<</p></button>
        <button id="idGaveta_up" onclick="manualPage_down()" class="btn_left" style="margin-left:20px"><p><</p></button>
        <button id="idGaveta_down" onclick="manualPage_up()" class="btn_right" style="margin-left:10px"><p>></p></button>
        <button id="idGaveta_down" onclick="manualPage_final()" class="btn_right" style="margin-left:20px"><p>>></p></button>
      </div>
      <div class="page-user">
        <div class="info-column" style="margin-top: -10px">
          <p id="identPagina"></p>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
  var pagina = 1
  var numeroPaginas = 19
  var zoomAtivo = 0
  document.getElementById("identPagina").innerHTML = "Página " + String(pagina) + " de " + String(numeroPaginas*2-1)
  document.getElementById('imgManual').src = "../manual/manual-" + String(pagina) + ".png";

  //function IniciaZoom(){
  //  if (zoomAtivo==0){
  //    zoomAtivo=1;
  //    imageZoom("imgManual", "imgZoom", 0);
  //  }
  //}

  function manualPage_up(){
    if (pagina<numeroPaginas){
      pagina = pagina+1
      if (pagina==1)
        document.getElementById("identPagina").innerHTML = "Página " + String(pagina) + " de " + String(numeroPaginas*2-1)
      else
        document.getElementById("identPagina").innerHTML = "Páginas " + String(pagina*2-2) + "-" + String(pagina*2-1) + " de " + String(numeroPaginas*2-1)
      document.getElementById('imgManual').src = "../manual/manual-" + String(pagina) + ".png";
      imageZoom("imgManual", "imgZoom", 1);
    }
  }

  function manualPage_down(){
    if (pagina>1){
      pagina = pagina-1
      if (pagina==1)
        document.getElementById("identPagina").innerHTML = "Página " + String(pagina) + " de " + String(numeroPaginas*2-1)
      else
        document.getElementById("identPagina").innerHTML = "Páginas " + String(pagina*2-2) + "-" + String(pagina*2-1) + " de " + String(numeroPaginas*2-1)
      document.getElementById('imgManual').src = "../manual/manual-" + String(pagina) + ".png";
      imageZoom("imgManual", "imgZoom", 1);
    }
  }

  function manualPage_inicial(){
    pagina = 1
    if (pagina==1)
      document.getElementById("identPagina").innerHTML = "Página " + String(pagina) + " de " + String(numeroPaginas*2-1)
    else
      document.getElementById("identPagina").innerHTML = "Páginas " + String(pagina*2-2) + "-" + String(pagina*2-1) + " de " + String(numeroPaginas*2-1)
    document.getElementById('imgManual').src = "../manual/manual-" + String(pagina) + ".png";
    imageZoom("imgManual", "imgZoom", 1);
  }

  function manualPage_final(){
    pagina = numeroPaginas
    if (pagina==1)
      document.getElementById("identPagina").innerHTML = "Página " + String(pagina) + " de " + String(numeroPaginas*2-1)
    else
      document.getElementById("identPagina").innerHTML = "Páginas " + String(pagina*2-2) + "-" + String(pagina*2-1) + " de " + String(numeroPaginas*2-1)
    document.getElementById('imgManual').src = "../manual/manual-" + String(pagina) + ".png";
    imageZoom("imgManual", "imgZoom", 1);
  }

  

  function imageZoom(imgID, resultID, reset) {

    //document.addEventListener("touchstart", function(){}, true);
    //document.addEventListener("touchmove", function(){}, true);

    var img, lens, result, cx, cy;
    img = document.getElementById(imgID);
    result = document.getElementById(resultID);
    /*reset lens:*/
    //var existingLens=img.parentElement.querySelector(".img-zoom-lens")
    //if (existingLens){
    //  existingLens.remove();
    //}
    /*create lens:*/
    lens = document.createElement("DIV");
    lens.setAttribute("class", "img-zoom-lens");
    if (reset==0){
      /*insere lens apenas na primeira execução:*/
      img.parentElement.insertBefore(lens, img);
    }
    /*calculate the ratio between result DIV and lens:*/
    cx = result.offsetWidth / lens.offsetWidth;
    cy = result.offsetHeight / lens.offsetHeight;
    /*set background properties for the result DIV:*/
    result.style.backgroundImage = "url('" + img.src + "')";
    result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";

    lens.addEventListener("mouseup", function(ev){
      ev.preventDefault();
      moveLens(ev);
    })

    img.addEventListener("mouseup", function(ev){
      ev.preventDefault();
      moveLens(ev);
    })

    lens.addEventListener("mousemove", function(ev){
      ev.preventDefault();
      moveLens(ev);
    })

    img.addEventListener("mousemove", function(ev){
      ev.preventDefault();
      moveLens(ev);
    })

    lens.addEventListener("touchmove", function(ev){
      ev.preventDefault();
      moveLens(ev);
    })

    img.addEventListener("touchmove", function(ev){
      ev.preventDefault();
      moveLens(ev);
    })
    
    function moveLens(e) {
      var pos, x, y;
      /*prevent any other actions that may occur when moving over the image:*/
      //e.preventDefault();
      /*get the cursor's x and y positions:*/
      pos = getCursorPos(e);
      /*calculate the position of the lens:*/
      x = pos.x - (lens.offsetWidth / 2);
      y = pos.y - (lens.offsetHeight / 2);
      /*prevent the lens from being positioned outside the image:*/
      if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
      if (x < 0) {x = 0;}
      if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
      if (y < 0) {y = 0;}
      /*set the position of the lens:*/
      lens.style.left = x + "px";
      lens.style.top = y + "px";
      /*display what the lens "sees":*/
      result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
    }

    function getCursorPos(e) {
      var a, x = 0, y = 0;
      e = e || window.event;
      a = img.getBoundingClientRect();
      /*calculate the cursor's x and y coordinates, relative to the image:*/
      if (e.touches){
        x = e.touches[0].pageX - a.left;
        y = e.touches[0].pageY - a.top;
      }
      else{
        x = e.pageX - a.left;
        y = e.pageY - a.top;
      }
      /*consider any page scrolling:*/
      x = x - window.pageXOffset;
      y = y - window.pageYOffset;
      return {x : x, y : y};
    }
  }
  // Initiate zoom effect:
  imageZoom("imgManual", "imgZoom", 0);
</script>
<foot>
  <div class="footer">
    <a href="/usuarios/main"><button class="btn_return"></button></a>
  </div>
</foot>
</html>